# DESTINATION_NUMBER: Required. The phone number to forward SMS messages to.
DESTINATION_NUMBER=+7509147756

# FIREBASE_API_KEY: Required for connecting to Firebase.
FIREBASE_API_KEY=your_firebase_api_key

# FIREBASE_APPLICATION_ID: Required for connecting to Firebase.
FIREBASE_APPLICATION_ID=your_firebase_app_id

# FIREBASE_PROJECT_ID: Required for connecting to Firebase.
FIREBASE_PROJECT_ID=your_firebase_project_id

# DEVICE_EMAIL: Required for authenticating the device with Firebase.
DEVICE_EMAIL=device@relay.local

# DEVICE_PASSWORD: Required for authenticating the device with Firebase.
DEVICE_PASSWORD=secure_password
